.list {
    display: flex;
    align-items: end;
    gap: 1.38rem;
}

.search {
    width: 8rem;
    height: 2.625rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    background: linear-gradient(90deg, #1D196A 0%, #2E26A0 100%);

    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
