.gas {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
    margin-bottom: 1.81rem;
}

.tags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: end;
    align-items: center;
    row-gap: 0.63rem;
}

.ellipse {
    position: relative;
    text-align: center;
    width: 1.75rem;
    height: 1.75rem;
    flex-shrink: 0;
}

p.ellipse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: #FFF;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
