body {
    background: #F8F8F8;
    height: 100vh;
}

.app {
    display: grid;
    grid-template-rows: min-content minmax(30%, 1fr);
    height: 100vh;
}

.main {
    height: auto;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1rem;
    padding: 0 15%;
}
