* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gm-style .gm-style-iw {
    padding: 0 !important;
    border-radius: 0;
    box-shadow: none;
}
